@use './blocks/about';
@use './blocks/contact';
@use './blocks/nav';
@use './blocks/projects';
@use './blocks/tech';
@use './blocks/colors';



* {
    box-sizing: border-box;
}

body {
    background-image:url(misty_tall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: black;
    display:flex;
    flex-direction: column;
}